{
  "env": {
    "es6": true,
    "browser": true,
    "jest/globals": true
  },
  "plugins": [
    "jest"
  ],
  "extends": "airbnb",
  "rules": {
    "semi": [2, "never"],
    "no-unexpected-multiline": 2,
    "no-console": 0,
    "react/prefer-stateless-function": [0, {
      "ignorePureComponents": true
    }],
    "comma-dangle": ["error", "never"],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error"
  }
}
